<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recording.title %>
</p>

<p>
  <strong>Concert:</strong>
  <%= @recording.concert.title %>
</p>

<p>
  <strong>Listening:</strong>
  <%= @recording.listening? %>
  <% if @recording.listening? %>
    <%= render 'finish_listening' %>
  <% else %>
    <%= render 'start_listening' %>
  <% end %>
</p>
<p>
  <strong>Last Event:</strong>
  <% if @recording.last_event %>
    <%= render partial: 'last_event', locals: {event: @recording.last_event} %>
  <% end %>
</p>

<%= link_to 'Events', listen_events_path(:recording => @recording.id) %>
<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
