<p id="notice"><%= notice %></p>

<p>
  <strong>Performer:</strong>
  <%= @concert.performer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
