<p id="notice"><%= notice %></p>

<p>
  <strong>Performer:</strong>
  <%= @concert.performer %>
</p>

<p>
  <strong>Location:</strong>
  <span class="location"><%= @concert.location %></span>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>
<p>
  <string>Recordings:</string>
  <ul>
    <% @concert.recordings.each do |recording| %>
      <li><%= link_to recording.title, recording %></li>
    <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
