<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listen_event.title %>
</p>

<p>
  <strong>Started:</strong>
  <%= @listen_event.started %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @listen_event.finished %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @listen_event.equipment %>
</p>

<%= link_to 'Edit', edit_listen_event_path(@listen_event) %> |
<%= link_to 'Back', listen_events_path %>
