<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @listen_event.event_type %>
</p>

<p>
  <strong>Recording:</strong>
  <%= @listen_event.recording_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @listen_event.note %>
</p>

<%= link_to 'Edit', edit_recording_listen_event_path(@recording, @listen_event) %> |
<%= link_to 'Back', recording_listen_events_path(@recording) %>
